<p>Name: {{ name }}</p>
<p>Phone: {{ phone }}</p>
<p>Email: {{ email }}</p>
<p>Status: {{ status }}</p>

<br>

<p>Address: {{ address }}</p>
<p>City: {{ city }}</p>
<p>State: {{ state }}</p>
<p>Zip Code: {{ zip_code }}</p>

<br>

<p>
    Questions / Comments:
    <br>
    {{ comments }}
</p>