<p>First Name: {{ first_name }}</p>
<p>Last Name: {{ last_name }}</p>
<p>Phone: {{ phone }}</p>
<p>Email: {{ email }}</p>
<p>Status: {{ status }}</p>

<br>

<p><strong>Yoga Styles:</strong> {{ yoga }}</p>
<p><strong>Teacher:</strong> {{ teacher }}</p>
<p><strong>Teacher Roles:</strong> {{ teacher_roles }}</p>
<p><strong>Music Preferences:</strong> {{ music }}</p>
<p><strong>Core Practices:</strong> {{ core_practices }}</p>
<p><strong>Dance / Movement:</strong> {{ dance_movement }}</p>
<p><strong>Community Interests:</strong> {{ community_interests }}</p>
<p><strong>Influencer Goals:</strong> {{ influencer_goals }}</p>
<p><strong>Education & Business Interests:</strong> {{ education_business }}</p>
