<h1>Hi {{ names }},</h1>

<p>Thanks for signing up with {{ website.name }}. Just one more step to verify your account!</p>

<br>

<p>Username: {{ username }}</p>

<br>

<b>Please follow the link below to verify your email address.</b>

<br>

<a href="{{ link }}">{{ link }}</a>