<h1 style="text-align:center">Order Success</h1>

<h2>Sale Details</h2>
<p>Invoice: {{ sale.invoice }}</p>
<p>Amount: {{ sale.amount }}</p>
<p>Account: {{ sale.account }}</p>

<br>

<h2>Billing Details</h2>
<p>Name: {{ billing.name }}</p>
<p>Phone: {{ billing.phone }}</p>
<p>Email: {{ billing.email }}</p>
<p>Address Line 1: {{ billing.address_line_1 }}</p>
<p>Address Line 2: {{ billing.address_line_2 }}</p>
<p>City: {{ billing.city }}</p>
<p>State: {{ billing.state }}</p>
<p>Country: {{ billing.country }}</p>
<p>Zip Code: {{ billing.zip_code }}</p>

<br>

<p><b>Comments:</b> {{ comments }}</p>