<p>Name: <{{ name }}</p>
<p>Phone: {{ phone }}</p>
<p>Email: {{ email }}</p>
<p>Status: New Lead</p>

<br>

<p>
    Who is renting?
    <br>
    {{ who_is_renting }}
</p>

<br>

<p>How many people? {{ how_many_people }}</p>
<p>What will need to be provided? {{ provisions }}</p>
<p>When will you be renting? {{ when_renting }}</p>
<p>How will you be paying? {{ payment_method }}</p>

