<p>Position Applying For: {{ career }}</p>

<p>Name: {{ name }}</p>
<p>Phone: {{ phone }}</p>
<p>Email: {{ email }}</p>

<br>

<p>
    Questions / Comments:
    <br>
    {{ comments }}
</p>

<p>View Resume Submission in the Admin Panel</p>